ul{
    list-style-type: disc;
    padding-left: 30px;

}
b{
    padding-left: 2px;
}
details{
    padding-left: 2px;
}
summary{
    color: brown;
}

.sub-hr{
    height: 2px;
    border: none;
    background-color: rgb(0, 0, 0);
}
